@import "reset.css";

/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/static/work-sans-v19-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/static/work-sans-v19-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/static/work-sans-v19-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* COLORS */
  --white: hsl(0, 0%, 100%);

  --purple-light: hsl(277, 100%, 97%);
  --purple-gray: hsl(292, 16%, 49%);
  --purple-dark: hsl(292, 42%, 14%);

  /* TYPOGRAPHY */
  /* font-size-100 = 8px */

  --font-name: "Work Sans";
  --font-size-675: 3.375rem;
  --font-size-400: 2rem;
  --font-size-225: 1.125rem;
  --font-size-200: 1rem;
  --font-size-175: 0.875rem;

  --line-height-150: 1.5;
  --line-height-120: 1.2;
  --line-height-110: 1.1;

  --letter-spacing-0px: 0em;
  --letter-spacing-1px: 0.0185em;

  /* SPACING */
  --space-500: 2.5rem;
  --space-450: 2.25rem;
  --space-400: 2rem;
  --space-350: 1.75rem;
  --space-325: 1.625rem;
  --space-300: 1.5rem;
  --space-250: 1.25rem;
  --space-200: 1rem;
  --space-175: 0.875rem;

  /* BORDERS */
  --border-radius-300: 0.875rem;
  --border-radius-100: 0.5rem;
}

body {
  align-items: center;
  background-color: var(--purple-light);
  color: var(--purple-dark);
  display: flex;
  flex-direction: column;
  font-family: var(--font-name), sans-serif;
  letter-spacing: var(--letter-spacing-0px);
  min-height: 100dvh;
  justify-content: flex-start;
}

.image-container {
  height: clamp(20vh, calc(232 / 375 * 100vw), 232px);
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.background-image-mobile {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.background-image-desktop {
  display: none;
}

main {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: 1rem var(--space-300) 0;
  width: 100%;
}

.main-content {
  max-height: 100%;
  overflow-y: auto;
  z-index: 1;
}

.accordion {
  background-color: var(--white);
  border-radius: var(--border-radius-100);
  box-shadow: 0 0.5rem 1rem 0.5rem hsla(292, 42%, 14%, 0.05);
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  max-width: 37.5rem;
  padding: var(--space-325) var(--space-300) var(--space-300);
  z-index: 1;
  min-width: 20.438rem;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  gap: 0 var(--space-300);
}

.header__icon {
  display: block;
  object-fit: cover;
  height: 1.5rem;
  width: 1.5rem;
}

.header__title {
  font-size: var(--font-size-400);
  font-weight: 700;
  line-height: var(--line-height-110);
}

.accordion__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-250);
}

.accordion__item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.accordion__question {
  font-weight: 600;
  line-height: var(--line-height-120);
  width: 82%;
}

.accordion__answer {
  color: var(--purple-gray);
  font-size: var(--font-size-175);
  display: none;
  line-height: var(--line-height-150);
}

.accordion__answer.open {
  display: block;
}

.accordion__answer.open {
  display: block;
}

.accordion__button {
  height: 1.875rem;
  width: 1.875rem;
}

.icon-minus {
  display: none;
}

.accordion__item.open .icon-minus {
  display: block;
}

.accordion__item.open .icon-plus {
  display: none;
}

.question-divider {
  background-color: var(--purple-light);
  height: 1px;
}

.attribution {
  bottom: 0;
  flex-shrink: 0;
  font-size: var(--font-size-175);
  padding: 1rem;
  text-align: center;
}

.attribution__link {
  color: var(--purple-dark);
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .image-container {
    height: 20rem;
  }

  .background-image-mobile {
    display: none;
  }

  .background-image-desktop {
    display: block;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .accordion {
    box-shadow: 0 1rem 1.5rem 1rem hsla(292, 42%, 14%, 0.05);
    gap: var(--space-450);
    padding: var(--space-500);
  }

  .accordion__list {
    gap: var(--space-300);
  }

  .accordion__question {
    font-size: var(--font-size-225);
    line-height: var(--line-height-120);
    width: 100%;
  }

  .accordion__answer {
    font-size: var(--font-size-200);
  }

  .header__icon {
    height: 2rem;
    width: 2rem;
  }

  .header__title {
    font-size: var(--font-size-675);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-1px);
  }
}
