@import "reset.css";

/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/static/work-sans-v19-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/static/work-sans-v19-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/static/work-sans-v19-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* COLORS */
  --white: hsl(0, 0%, 100%);

  --purple-light: hsl(277, 100%, 97%);
  --purple-gray: hsl(292, 16%, 49%);
  --purple-dark: hsl(292, 42%, 14%);

  /* TYPOGRAPHY */
  /* font-size-100 = 8px */

  --font-name: "Work Sans";
  --font-size-675: 3.375rem;
  --font-size-400: 2rem;
  --font-size-225: 1.125rem;
  --font-size-200: 1rem;
  --font-size-175: 0.875rem;

  --line-height-150: 1.5;
  --line-height-120: 1.2;
  --line-height-110: 1.1;

  --letter-spacing-0px: 0em;
  --letter-spacing-1px: 1em;

  /* SPACING */
  --space-500: 2.5rem;
  --space-400: 2rem;
  --space-350: 1.75rem;
  --space-325: 1.625rem;
  --space-300: 1.5rem;
  --space-200: 1rem;
  --space-250: 1.25rem;
  --space-175: 0.875rem;

  /* BORDERS */
  --border-radius-300: 0.875rem;
  --border-radius-100: 0.5rem;
}

body {
  align-items: center;
  background-color: var(--purple-light);
  color: var(--purple-dark);
  display: flex;
  flex-direction: column;
  font-family: var(--font-name), sans-serif;
  letter-spacing: var(--letter-spacing-0px);
  min-height: 100dvh;
  justify-content: center;
}

.background-image {
  display: block;
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  top: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.accordion {
  background-color: var(--white);
  border-radius: var(--border-radius-100);
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  max-width: 37.5rem;
  padding: var(--space-325) var(--space-300) var(--space-300);
  z-index: 1;
}

.header {
  align-items: center;
  display: flex;
  gap: 0 var(--space-300);
}

.header__icon {
  display: block;
  object-fit: cover;
  height: 1.5rem;
  width: 1.5rem;
}

.header__title {
  font-size: var(--font-size-400);
  font-weight: 700;
  line-height: var(--line-height-110);
}
